html,
body {
    background-image: url("../images/memphis-mini-dark.png");
}

h1 {
    background-color: yellowgreen;
    opacity: .8;
    border: 3px groove darkorange;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gainsboro;
    width: 100%;
    padding: 25px;
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    text-shadow: 0px 0px 5px darkblue;
    color: blue;
}

.instructions {
    color: blue;
    font-weight: bolder;
    background-color: white;
    opacity: .8;
    border: 3px groove darkorange;
    border-radius: 8px;
    width: 90%;
    font-size: 20px;
    padding: 10px;
    margin: 15px 0 0 30px;
}

.wrapper1 {
    display: flex;
    margin: 15px 0 0 45px;
    justify-content: space-between;
}

.number {
    background-color: yellow;
    opacity: .8;
    border: 3px groove darkorange;
    border-radius: 15px;
    width: 40%;
    padding: 10px;
    font-size: 50px;
    color: red;
}

.win-lose {
    background-color: gainsboro;
    border: 3px groove darkorange;
    border-radius: 15px;
    opacity: .8;
    width: 40%;
    padding: 10px;
    font-size: 20px;
    color: blue;
}

.wrapper2 {
    display: flex;
    margin-top: 20px;
    margin-left: 7px;
    justify-self: center;
}

.image {
    border: 2px dotted lawngreen;
    border-radius: 50%;
    opacity: .8;
    width: 85px;
    height: 85px;
}

.score {
    position: relative;
    float: right;
    margin: 10px 25px 0 0;
    background-color: red;
    border: 3px groove darkorange;
    border-radius: 8px;
    width: 60%;
    padding: 20px;
    opacity: .8;
    font-size: 25px;
    color: yellow;
}

@media (min-width: 640px) {
    .instructions {
        margin-left: 45px;
    }
    .wrapper1 {
        justify-content: left;
    }
    .number {
        width: 20%;
        padding: 20px;
    }
    .win-lose {
        width: 20%;
        padding: 20px;
        margin-left: 40px;
    }
    .wrapper2 {
        margin-left: 45px;
    }
    .score {
        float: left;
        margin-left: 45px;
        width: 45%;
    }
}

@media(min-width: 768px) {
    .wrapper1,
    .wrapper2,
    .score {
        margin-left: 35px;
    }
    h1 {
        width: 40%;
        margin-left: 35px;
    }
    .instructions {
        margin-left: 35px;
        width: 60%;
    }
}

@media(min-width: 980px) {
    h1 {
        width: 40%;
        margin-left: 35px;
    }
    .instructions {
        width: 50%;
    }
    .number,
    .win-lose {
        width: 15%;
    }
    .score {
        width: 20%;
    }
    .image {
        width: 115px;
        height: 115px;
    }
}