html,
body {
    background-image: url("../images/memphis-mini-dark.png");
    background-size: inherit;
}

h1 {
    background-color: yellowgreen;
    background-size: cover;
    width: 100%;
    padding: 25px;
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    color: blue;
}

.instructions {
    color: blue;
    background-color: white;
    background-size: cover;
    width: 90%;
    font-size: 20px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 25px;
}

.wrapper1 {
    display: flex;
    margin-top: 15px;
    margin-left: 35px;
    justify-content: space-between;
}

.number {
    background-color: yellow;
    background-size: cover;
    width: 40%;
    padding: 10px;
    font-size: 30px;
    color: red;
}

.win-lose {
    background-color: gainsboro;
    background-size: cover;
    width: 40%;
    padding: 10px;
    font-size: 20px;
    color: blue;
}

.wrapper2 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    justify-content: space-evenly;
}

.image {
    justify-items: center;
    width: 75px;
    height: 75px;
}

.score {
    background-color: red;
    width: 60%;
    font-size: 25px;
    color: yellow;
}